@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

html, body {
    font-size: 1em;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    background-color: #111;
    background-image: url(../img/portfoliobg.jpg);
    background-size: cover;
    color: #aba619;
    max-width: 350px;
    align-content: center;
}



.weather-info, .weather{
    display:none;
}

.totop-arrow {
    background-color: #333;
    color: #dad7d3;
    border: 1px solid #aba619;
    position: fixed;
    right: 50px;
    bottom: 80px;
    font-size: 1.5rem;
    padding: 5px 16px;
    border-radius: 50%;
    transition: background-color 0.25s, color 0.15s;
    box-sizing: border-box;
}

    .totop-arrow:hover {
        background-color: #111;
        color: #f4ef53;
        font-size: 1.6rem;
    }

.mynavbar {
    display: flex;
    justify-content: center;
    z-index: 1;
    position: sticky;
}

.navbar-floatings {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 10px;
    width: auto;
    border: 1px solid #f4ef53;
    box-sizing: border-box;
}

.navbar-floatings2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid #f4ef53;
    box-sizing: border-box;
    cursor: pointer;
}

.navbar-icons {
}

    .navbar-icons a {
        display: block;
        color: white;
        text-align: center;
        padding: 8px;
        text-decoration: none;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }


        .navbar-icons a:hover:not(.active) {
            background-color: #111;
            color: #f4ef53;
            border-radius: 50%;
        }

    .navbar-icons i {
        display: block;
        color: white;
        text-align: center;
        padding: 8px;
        text-decoration: none;
    }


        .navbar-icons i:hover:not(.active) {
            background-color: #111;
            color: #f4ef53;
            border-radius: 50%;
        }

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}


    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #dad7d3;
        display: block;
        transition: 0.3s;
    }


        .sidenav a:hover {
            color: #aba619;
        }


    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }


#main {
    transition: margin-left .5s;
    padding: 20px;
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}




.social-media-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 12px;
}

.headtext, .headtext-under, .headtext-under1, .headtext-under2, .name-text {
    color: #aba619;
}
.headtext{
    font-size: 20px;
}
.headtext-under{
    font-size: 12px;
}

/*bodycss*/

.intro-button {
    margin-top: 0;
    text-align: center;
}

.intro-buttons {
    display: flex;
    align-items: center;
    margin: 10px;
    text-decoration: none;
    background-color: #333;
    border: 1px solid #aba619;
    border-radius: 20%;
    padding: 5px;
    color: #dad7d3;
    box-sizing: border-box;
}

    .intro-buttons:hover {
        cursor: pointer;
        background-color: #111;
        border: 1px solid #aba619;
        border-radius: 20%;
        padding: 5px;
        color: #f4ef53;
        box-sizing: border-box;
    }



.intro-first {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
}

.headtext-under {
    font-weight: 600;
    font-style: italic;
}

.portrait {
    margin-right: 15px;
    border: 6px solid #333;
    box-sizing: border-box;
}

.aboutme-section{
    max-width: 350px;
}
.aboutme-header {
    color: #dad7d3;
    margin-bottom: 25px;
}

.rubrik-text {
    color: #dad7d3;
}

.aboutme-box {
    background-image: url(../img/intro-me.jpg);
    background-size: cover;
    opacity: 75%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    max-width: 350px;
   
}

.infobox1 {
    padding-top: 10px;
    background-color: #111;
    border: 2px dashed #f4ef53;
    margin: 8px;
    opacity: 75%;
    color: #f4ef53;
    box-sizing: border-box;
    max-width: 150px;
}

.infobox2 {
    padding-top: 10px;
    background-color: #111;
    border: 2px dashed #f4ef53;
    margin: 8px;
    opacity: 75%;
    color: #f4ef53;
    box-sizing: border-box;
    max-width: 150px;
}

.undertextsinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: contain;
    
}

.experience-box {
    margin-top: 50px;
}

.exp-container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exp-both-boxes {
    display: flex;
    padding: 25px;
    background-color: #111;
    border: 2px solid #dad7d3;
    opacity: 80%;
    box-sizing: border-box;
}

.exp-text {
    color: #dad7d3;
}

.exp-box1 {
    margin-right: 70px;
}

.exp-box2 {
    margin-left: 70px;
    text-align: right;
}

.headtext-under1 {
    text-decoration: underline;
}

.headtext-under2 {
    text-decoration: underline;
}

.cvbuttons {
    margin-top: 15px;
}

.cv-button {
    text-decoration: none;
    background-color: #333;
    border: 1px solid #aba619;
    border-radius: 20%;
    padding: 5px;
    color: #dad7d3;
    box-sizing: border-box;
}

    .cv-button:hover {
        cursor: pointer;
        font-size: 14px;
        background-color: #111;
        border: 1px solid #aba619;
        border-radius: 20%;
        padding: 5px;
        color: #f4ef53;
        box-sizing: border-box;
    }

.cardboxes {
    padding: 15px;
    margin: 10px;
    
}

.box2-info:hover{
    background-image: url(../img/bankpic.png);
    background-size: cover;
    background-position-x:center;
}
.box3-info:hover {
    background-image: url(../img/fixxopic.png);
    background-size:cover;
    background-position-x: center;
}



.all-port-boxes {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info-desc {
    font-size: 20px;
    margin-top: 10px;
}


.testimonialcontainer {
    margin-top: 0px;
    border: 1px solid #aba619;
    background-image: url(../img/pcbg.png);
    background-size: cover;
    background-position: bottom;
}



.comment {
    color: #dad7d3;
}

.headtext-testi {
    color: #dad7d3;
    margin-top: 80px;
}


.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


.mySlides {
    display: none;
}

.testi-slides {
    margin-top: 50px;
    background-color: #333;
    opacity: 85%;
    width: 30px;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    color: #dad7d3;
}


.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }


.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #333;
    border: 1px solid #f4ef53;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    box-sizing: border-box;
}

    .active, .dot:hover {
        background-color: #f4ef53;
    }


.send-button {
    margin-top: 10px;
    width: 100px;
    text-decoration: none;
    background-color: #333;
    border: 1px solid #aba619;
    border-radius: 20%;
    padding: 5px;
    color: #dad7d3;
    box-sizing: border-box;
}

    .send-button:hover {
        width: 110px;
        background-color: #111;
        border: 1px solid #f4ef53;
        border-radius: 20%;
        padding: 5px;
        color: #f4ef53;
        box-sizing: border-box;
    }

.row {
    margin: 8px;
}

.form-container {
    color: #f4ef53;
    opacity: 75%;
}

.box-background {
    margin-top: 40px;
    background-image: url(../img/hacker.jpg);
    background-size: cover;
}

/*footer css*/

.footer-background {
    
}

    .footer-background .container {
        text-align: center;
    }

.footer-icon {
    color: #aba619;
}

    .footer-icon:hover {
        color: #f4ef53;
    }

.footer-background .footer-icons a {
    margin: 7px;
}

.footer-background .copyright {
    color: #aba619;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}



.message {
    
    color: #aba619; 
    border: 4px solid #111; 
    font-weight: bold; 
    background-color: #333; 
    margin-top: 10px;
}




/*mobile css*/

@media (min-width: 600px) {

    .portrait {
        margin-right: 400px;
    }

    .social-media-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        font-size: 15px;
    }

    .aboutme-box {
        background-image: url(../img/intro-me.jpg);
        background-size: cover;
        opacity: 75%;
        padding: 50px;
        max-width: none;
    }
    .infobox1, .infobox2{
        max-width: none;
    }

    .box-background {
        margin-top: 40px;
        background-image: url(../img/hacker.jpg);
        background-size: cover;
        background-position: center;
    }

    .send-button {
        margin-top: 15px;
        width: 100px;
        text-decoration: none;
        background-color: #333;
        border: 1px solid #aba619;
        border-radius: 20%;
        padding: 5px;
        color: #dad7d3;
        box-sizing: border-box;
    }

    .form-container {
        background-color: #aba619;
        color: #111;
        opacity: 75%;
    }

    .totop-arrow {
        background-color: #333;
        color: #dad7d3;
        border: 1px solid #aba619;
        position: fixed;
        right: 50px;
        bottom: 50px;
        font-size: 1.5rem;
        padding: 5px 16px;
        border-radius: 50%;
        transition: background-color 0.25s, color 0.15s;
        box-sizing: border-box;
    }

        .totop-arrow:hover {
            background-color: #111;
            color: #f4ef53;
            font-size: 1.6rem;
        }

    .dropbtn {
        display: none;
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

    .mynavbar {
        display: flex;
        justify-content: center;
        z-index: 1;
        position: sticky;
    }

    .navbar-floatings {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30%;
        overflow: hidden;
        background-color: #333;
        position: fixed;
        bottom: 10px;
        width: auto;
        border: 1px solid #f4ef53;
        box-sizing: border-box;
    }

    .navbar-floatings2 {
        display: none;
        justify-content: center;
        align-items: center;
        border-radius: 30%;
        overflow: hidden;
        background-color: #333;
        position: fixed;
        bottom: 10px;
        width: auto;
        border: 1px solid #f4ef53;
        box-sizing: border-box;
    }
    .all-port-boxes {
        
        flex-direction: row;
    }
    .port-box4, .port-box3, .port-box1, .port-box2 {
        width: 700px;
    }
    .weather-info {
        display:block;
        color: #f4ef53;
        background-color: #333;
        border-radius: 40%;
        border: 1px solid #aba619;
        text-align: center;
        width: 250px;
        margin-right: 150px;
        margin-left: -250px;
    }
    .weather{
        display:block;
    }
    .aboutme-section {
        max-width:none;
    }
    .headtext {
        font-size: 40px;
    }

    .headtext-under {
        font-size: 20px;
    }
    html, body {
        max-width: none;
        align-content: normal;
    }
    
        
    
    
}
