@page
@model Portfolio.Pages.DeliveredMessageModel
@{
}

<div style="background-color: #333; border: 3px solid #aba619; padding: 20px;">
    <h1 class="text-center" style="color: #aba619;">Thank You! <i class="fa-light fa-face-smile" style="color: #aba619;"></i></h1>
    <h4 class="text-center" style="color: #aba619;">Your message has been submitted successfully.</h4>
</div>

@section Scripts
{
<script>
    setTimeout(function () {
        window.location.href = "/Index";
    }, 2000);
</script>
}