@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Portfolio page for me whdahuwdw</p>
    <p>My name is jeff</p>
    <p>heueheuheuehue</p>
</div>
